/* .layout {
    display: flex;
    height: 100vh;
  } */
  
  /* .sidebar {
    width: 200px;
    background-color: #fff8e1;
    border-right: 1px solid #ccc;
  } */
  
  /* .main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
  } */
  
  /* .header {
    height: 60px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  } */
  
  /* .page-content {
    flex: 1;
    padding: 20px;
  } */

  

/* .sidebar{
  display: flex;
  flex-direction: row;
  border: 3px solid green;
}

.header{
  display: flex;

  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: 1px solid red;
}

  .main-content{
    display: flex;
    flex-direction: row;
    border: 1px solid blue;
    height: 100%;
    width: 100%;
  }
   */




  